<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#FF0000">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://pbs.twimg.com/profile_images/1650559623961927681/GIuz2m6K_400x400.jpg" type="image/x-icon">
    <title>404 - DRC</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <section class="bg-white light:bg-gray-900 ">
        <div class="container min-h-screen px-6 py-12 mx-auto lg:flex lg:items-center lg:gap-12">
            <div class="wf-ull lg:w-1/2">
                <p class="text-sm font-medium text-blue-500 light:text-blue-400">404 error</p>
                <h1 class="mt-3 text-2xl font-semibold text-gray-800 light:text-white md:text-3xl">Page not found</h1>
                <p class="mt-4 text-gray-500 light:text-gray-400">Sorry, the page you are looking for doesn't exist.Here are some helpful links:</p>
    
                <div class="flex items-center mt-6 gap-x-3">
                 
    
                    <a href="/">
                        <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Take me home</button>
                    </a>
                </div>
            </div>
    
            <div class="relative w-full mt-12 lg:w-1/2 lg:mt-0">
                <img class="w-full max-w-lg lg:mx-auto" src="https://merakiui.com/images/components/illustration.svg" alt="">
            </div>
        </div>
    </section>
</body>
</html>