<%- include("partial/header") -%>

    <%- include("partial/navbar") -%>
        <script src="https://cdn.jsdelivr.net/npm/flowbite@2.2.1/dist/flowbite.min.js"></script>

        <body>
            <div class="max-w-5xl px-6 pt-6 lg:pt-10 pb-12 sm:px-6 lg:px-16 mx-auto">
                <div class="max-w-5xl">
                    <!-- Avatar Media -->
                    <h1 class="text-4xl font-bold text-center">Who are we ?</h1>
                    <p class="text-xl italic text-justify mt-8">
                        Created for motorsport enthusiasts in India. DRC is a project by the <strong>F1ndia
                            Team</strong>, and our vision is to provide the Indian motorsport community with the latest
                        news, updates, and analysis from the world of motorsports. Our primary objective is to cater to
                        the Indian audience's motorsport needs with a desi touch, making content more relatable and
                        relevant to them. Our team will work hard to try and provide in-depth coverage of motorsports,
                        <strong>Indian motorsports scene, Formula 1, MotoGP, Formula E, WEC, and many more.</strong> We aim to build a strong community of motorsport fans through DRC, just as we did
                        with F1ndia, and provide them with high-quality content across various platforms. We want to
                        encourage and empower fans to engage in meaningful discussions and share their love for
                        motorsports through our platform. We invite you to join us on this exciting journey as we strive
                        to create the ultimate destination for motorsport fans in India. We believe that with your
                        support and participation, we can make DRC the go-to source for all motorsports-related news and
                        content. Thank you for your continued support, and we look forward to building DRC together.
                    </p>
                </div>
            </div>

            <%- include("partial/footer") -%>