<%- include("partial/header") -%>

<%- include("partial/navbar") -%>


        <!-- Card Section -->
        <h1 class="text-3xl text-center font-bold mt-12">Publish a post</h1>
        <div class="max-w-5xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
            <!-- Card -->
            <div class="bg-white rounded-xl shadow p-4 sm:p-7 nonebg-slate-900">
                <form action="/add-post" method="POST">
                    <!-- Section -->
                    <div
                        class="grid sm:grid-cols-12 gap-2 sm:gap-4 py-8 first:pt-0 last:pb-0 border-t first:border-transparent border-gray-200 noneborder-gray-700 nonefirst:border-transparent">
                        <div class="sm:col-span-12">
                            <h2 class="text-lg font-semibold text-gray-800 nonetext-gray-200">
                                Submit your post
                            </h2>
                        </div>
                        <!-- End Col -->


                        <div class="sm:col-span-3">
                            <label for="af-submit-application-email"
                                class="inline-block text-sm font-medium text-gray-500 mt-2.5">
                                Title
                            </label>
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-9">
                            <input required autocomplete="off"  name="title" id="af-submit-application-email" type="text"
                                class="py-2 px-3 pe-11 block w-full border border-gray-300 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none nonebg-slate-900 noneborder-gray-700 nonetext-gray-400 nonefocus:ring-gray-600">
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <div class="inline-block">
                                <label for="af-submit-application-phone"
                                    class="inline-block text-sm font-medium text-gray-500 mt-2.5">
                                    Cover Image URL
                                </label>
                            </div>
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-9">
                            <input required autocomplete="off" name="img_url" id="af-submit-application-phone" type="text"
                                class="py-2 px-3 pe-11 block w-full border border-gray-300 shadow-sm rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none nonebg-slate-900 noneborder-gray-700 nonetext-gray-400 nonefocus:ring-gray-600">

                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <div class="inline-block">
                                <label for="af-submit-application-current-company"
                                    class="inline-block text-sm font-medium text-gray-500 mt-2.5">
                                    Post Body
                                    <button data-tooltip-target="tooltip-default" type="button"><i class="ri-information-line"></i></button>

                                </label>
                            </div>
                            <div id="tooltip-default" role="tooltip" class="absolute max-w-xs z-10 invisible inline-block px-3 mr-3 py-2 text-sm font-medium text-black transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm  rounded-lg shadow-sm opacity-0 tooltip">
                                <p class="text-base text-center my-2">Info</p>
                                <ul class="max-w-xl text-xs">
                                    <li class="mb-1">• Ensure that the content you create for the blog is original and does not directly replicate or closely mimic existing copyrighted material.</li>
                                    <li class="mb-1">• Do not copy and paste the entire content from word,docx or any other file as it can result in formatting issues.</li>
                                    <li class="mb-1">• If using content from the public domain, confirm its public domain status and provide appropriate acknowledgment.</li>
                                    <li class="mb-1">• Steer clear of copying and pasting content from other sources without proper attribution. Plagiarism is both unethical and against our content guidelines.</li>  
                                </ul>  
                                  
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-9">
                            <div>
                                <textarea name="content" id="editor1"></textarea>
                            </div>
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <div class="inline-block">
                                <label 
                                    class="inline-block text-sm font-medium text-gray-500 mt-2.5">
                                    Author Name
                                </label>
                            </div>
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-9">
                            <input required autocomplete="off" name="author_name" type="text"
                                class="py-2 px-3 pe-11 block w-full border border-gray-300 shadow-sm rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none nonebg-slate-900 noneborder-gray-700 nonetext-gray-400 nonefocus:ring-gray-600">

                        </div>
                        <!-- End Col -->
                    </div>

                    <!-- End Section -->




                   
                    <!-- Section -->
                    <div
                        class="py-8 first:pt-0 last:pb-0 border-t first:border-transparent border-gray-200 noneborder-gray-700 nonefirst:border-transparent">
                        <h2 class="text-lg font-semibold text-gray-800 nonetext-gray-200">
                            Submit post
                        </h2>
                        <p class="mt-3 text-sm text-gray-600 nonetext-gray-400">
                            Your post will undergo an administrative approval process prior to publication.
                        </p>
                    </div>
                    <!-- End Section -->

                    <button type="submit"
                        class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-black text-white hover:bg-gray-800 disabled:opacity-50 disabled:pointer-events-none nonefocus:outline-none nonefocus:ring-1 nonefocus:ring-gray-600">
                        Submit application
                    </button>
                </form>
            </div>
            <!-- End Card -->
        </div>
        <!-- End Card Section -->

        <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
        <script>
            CKEDITOR.replace('editor1', {
                extraPlugins: 'image',
                height: 400,
                uiColor: '#FCFCFC',
                allowedContent :
    'h1 h2 h3 p blockquote strong em;' +
    'a[!href];' +
    'img(left,right)[!src,alt];'
            });
        </script>


<%- include("partial/footer") -%>

