<%- include("partial/header") -%>

<%- include("partial/admin-navbar") -%>

<body>
<!-- Card Blog -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Grid -->
    <h1 class="text-center font-bold mt-3 mb-16 text-4xl">Admin Panel</h1>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">

        <div class="flex flex-col bg-white border border-t-4 border-t-green-600 shadow-sm rounded-xl nonebg-slate-900 noneborder-gray-700 noneborder-t-blue-500 noneshadow-slate-700/[.7]">
            <div class="p-4 md:p-5">
              <h3 class="text-lg font-semibold text-gray-800 nonetext-white">
                Approve/Reject Post
              </h3>
              <p class="mt-2 text-gray-500 nonetext-gray-400">
                Approve or reject pending posts!
            </p>
              <a class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none nonetext-blue-500 nonehover:text-blue-400 nonefocus:outline-none nonefocus:ring-1 nonefocus:ring-gray-600" href="/pending-articles">
                <button type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-7 py-2.5 me-2 mb-2 nonebg-gray-800 nonehover:bg-gray-700 nonefocus:ring-gray-700 noneborder-gray-700">Go 
                </button>
              </a>
            </div>
          </div>

          <div class="flex flex-col bg-white border border-t-4 border-t-orange-600 shadow-sm rounded-xl nonebg-slate-900 noneborder-gray-700 noneborder-t-blue-500 noneshadow-slate-700/[.7]">
            <div class="p-4 md:p-5">
              <h3 class="text-lg font-semibold text-gray-800 nonetext-white">
                Add new post
            </h3>
              <p class="mt-2 text-gray-500 nonetext-gray-400">
                Add a new post!
              </p>
              <a class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none nonetext-blue-500 nonehover:text-blue-400 nonefocus:outline-none nonefocus:ring-1 nonefocus:ring-gray-600" href="/add-post">
                <button type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-7 py-2.5 me-2 mb-2 nonebg-gray-800 nonehover:bg-gray-700 nonefocus:ring-gray-700 noneborder-gray-700">Go 
                </button>
              </a>
            </div>
          </div>

          <div class="flex flex-col bg-white border border-t-4 border-t-blue-600 shadow-sm rounded-xl nonebg-slate-900 noneborder-gray-700 noneborder-t-blue-500 noneshadow-slate-700/[.7]">
            <div class="p-4 md:p-5">
              <h3 class="text-lg font-semibold text-gray-800 nonetext-white">
                Manage Posts
              </h3>
              <p class="mt-2 text-gray-500 nonetext-gray-400">
                Modify or delete published posts!
            </p>
            <a class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none nonetext-blue-500 nonehover:text-blue-400 nonefocus:outline-none nonefocus:ring-1 nonefocus:ring-gray-600" href="/articles-list">
                <button type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-7 py-2.5 me-2 mb-2 nonebg-gray-800 nonehover:bg-gray-700 nonefocus:ring-gray-700 noneborder-gray-700">Go 
                </button>
              </a>
            </div>
          </div>
    </div>
    <!-- End Grid -->


  </div>
  <!-- End Card Blog -->

</body>

