<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#000000">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - DRC</title>
    <link rel="shortcut icon" href="https://pbs.twimg.com/profile_images/1650559623961927681/GIuz2m6K_400x400.jpg" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="
    https://cdn.jsdelivr.net/npm/preline@2.0.3/dist/preline.min.js
    "></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@preline/dropdown/index.min.js"></script>
</head>


<body class="antialiased bg-gray-50">
    <main class="w-full max-w-md mx-auto p-6">
        <div class="mt-7 bg-white border border-gray-200 rounded-xl shadow-sm nonec:bg-gray-800 nonec:border-gray-700">
            <div id="wrong-pass-alert" style="display: none;" class="m-2 bg-red-500 text-sm text-white rounded-lg p-4" role="alert">
                <span class="font-semibold flex items-center">
                    <svg class="h-4 w-4 mr-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="12" cy="12" r="10"/>
                        <path d="m15 9-6 6"/>
                        <path d="m9 9 6 6"/>
                    </svg>
                    Wrong email or password!</span>
            </div>
            

            <div class="content-center mt-4 text-center">
                <a href="/">
                    <img class="mx-auto h-[3.875rem] w-[3.875rem] rounded-full"
                    src="https://pbs.twimg.com/profile_images/1650559623961927681/GIuz2m6K_400x400.jpg" alt="logo">
                </a>
                <h1 class="text-2xl font-bold mt-3">DesiRacingCo</h1>
            </div>


            <div class="p-6">
                <div class="">
                    <h1 class="block text-2xl text-center">Sign in!</h1>
                </div>

                <div class="mt-5">
                    <a href="/auth/google">
                        <button type="button"
                        class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none nonec:bg-slate-900 nonec:border-gray-700 nonec:text-white nonec:hover:bg-gray-800 nonec:focus:outline-none nonec:focus:ring-1 nonec:focus:ring-gray-600">
                        <svg class="w-4 h-auto" width="46" height="47" viewBox="0 0 46 47" fill="none">
                            <path
                                d="M46 24.0287C46 22.09 45.8533 20.68 45.5013 19.2112H23.4694V27.9356H36.4069C36.1429 30.1094 34.7347 33.37 31.5957 35.5731L31.5663 35.8669L38.5191 41.2719L38.9885 41.3306C43.4477 37.2181 46 31.1669 46 24.0287Z"
                                fill="#4285F4" />
                            <path
                                d="M23.4694 47C29.8061 47 35.1161 44.9144 39.0179 41.3012L31.625 35.5437C29.6301 36.9244 26.9898 37.8937 23.4987 37.8937C17.2793 37.8937 12.0281 33.7812 10.1505 28.1412L9.88649 28.1706L2.61097 33.7812L2.52296 34.0456C6.36608 41.7125 14.287 47 23.4694 47Z"
                                fill="#34A853" />
                            <path
                                d="M10.1212 28.1413C9.62245 26.6725 9.32908 25.1156 9.32908 23.5C9.32908 21.8844 9.62245 20.3275 10.0918 18.8588V18.5356L2.75765 12.8369L2.52296 12.9544C0.909439 16.1269 0 19.7106 0 23.5C0 27.2894 0.909439 30.8731 2.49362 34.0456L10.1212 28.1413Z"
                                fill="#FBBC05" />
                            <path
                                d="M23.4694 9.07688C27.8699 9.07688 30.8622 10.9863 32.5344 12.5725L39.1645 6.11C35.0867 2.32063 29.8061 0 23.4694 0C14.287 0 6.36607 5.2875 2.49362 12.9544L10.0918 18.8588C11.9987 13.1894 17.25 9.07688 23.4694 9.07688Z"
                                fill="#EB4335" />
                        </svg>
                        Sign in with Google
                    </button>
                    </a>

                     <div
                        class="py-3 flex items-center text-xs text-gray-400 uppercase before:flex-[1_1_0%] before:border-t before:border-gray-200 before:me-6 after:flex-[1_1_0%] after:border-t after:border-gray-200 after:ms-6 nonec:text-gray-500 nonec:before:border-gray-600 nonec:after:border-gray-600">
                        Or</div>

                    <!-- Form -->
                    <form action="/login" method="POST">
                        <div class="grid gap-y-4">
                            <!-- Form Group -->
                            <div>
                                <label for="email" class="block text-sm mb-2">Email address</label>
                                <div class="relative">
                                    <input type="email" id="email" name="username"
                                        class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                                        required aria-describedby="email-error">         
                                </div>
                            </div>
                            <!-- End Form Group -->

                            <!-- Form Group -->
                            <div>
                                <div class="flex justify-between items-center">
                                    <label for="password" class="block text-sm mb-2 nonec:text-white">Password</label>
                                    <a class="text-sm text-blue-600 decoration-2 hover:underline font-medium"
                                        href="/forgot-password">Forgot password?</a>
                                </div>
                                <div class="relative">
                                    <input type="password" id="password" name="password"
                                        class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none nonec:bg-slate-900 nonec:border-gray-700 nonec:text-gray-400 nonec:focus:ring-gray-600"
                                        required aria-describedby="password-error">
                                </div>
                            </div>
                            <!-- End Form Group -->

                            <!-- Checkbox -->
                            <p class="mt-2 text-sm text-gray-600 nonec:text-gray-400">
                                Don't have an account yet?
                                <a class="text-blue-600 decoration-2 hover:underline font-medium nonec:focus:outline-none nonec:focus:ring-1 nonec:focus:ring-gray-600"
                                    href="/register">
                                    Sign up here
                                </a>
                            </p>
                            <!-- End Checkbox -->

                            <button type="submit"
                                class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-black text-white hover:bg-gray-800 disabled:opacity-50 disabled:pointer-events-none nonec:focus:outline-none nonec:focus:ring-1 nonec:focus:ring-gray-600">Sign
                                in</button>
                        </div>
                    </form>
                    <!-- End Form -->
                </div>
            </div>
        </div>
    </main>
<script>
    document.addEventListener('DOMContentLoaded', function () {
    // Check if the URL contains "/login?wrongpass=1"
    // Check if the URL contains "/login?wrongcredential=1"
if (window.location.href.includes("/login?wrongcredential=1")) {
    // Show the alert
    var alertDiv = document.getElementById('wrong-pass-alert');
    alertDiv.style.display = "block";

    // Set the value of the 'email' element
    var emailParameter = getParameterByName('email');
    var emailElement = document.getElementById('email');
    
    if (emailParameter && emailElement) {
        emailElement.value = emailParameter;
    }

    // Hide the alert after 5 seconds with a smooth animation
    setTimeout(function () {
        alertDiv.style.display = "none";
    }, 5000);
}

// Function to get the value of a URL parameter by name
function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, '\\$&');
    var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, ' '));
}

});

</script>
</body>

</html>