<%- include("partial/header") -%>


<main class="w-full max-w-md mx-auto p-6">

  <div style="display: none;" id="match-alert" class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
    <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
    </svg>
    <span class="sr-only">Info</span>
    <div>
      <span class="font-medium">Both password fields should match!</span>
    </div>
  </div>

    <div class="mt-12 bg-white border border-gray-200 rounded-xl shadow-sm null:bg-gray-800 null:border-gray-700">
        
      <div class="content-center mt-4 text-center">
            <a href="/">
                <img class="mx-auto h-[3.875rem] w-[3.875rem] rounded-full"
                src="https://pbs.twimg.com/profile_images/1650559623961927681/GIuz2m6K_400x400.jpg" alt="logo">
            </a>
            <h1 class="text-2xl font-bold mt-3">DesiRacingCo</h1>
        </div>
      <div class="p-4 sm:p-7">
        <div class="text-center">
          <h1 class="block text-2xl text-gray-800 null:text-white">Create new password</h1>
        </div>

        <div class="mt-5">
          <!-- Form -->
          <form id="myForm" onsubmit="return validateForm()" action="/reset-password" method="POST">
            <div class="grid gap-y-4">
              <input type="hidden" name="token" value="<%= token %>" class="py-3 px-4 block w-full border border-gray-300 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none null:bg-slate-900 null:border-gray-700 null:text-gray-400 null:focus:ring-gray-600" required aria-describedby="email-error">

              <!-- Form Group -->
              <div>
                <label for="email" class="block text-sm mb-2 null:text-white">Password</label>
                <div class="relative">
                  <input minlength="8" maxlength="32" type="password" id="password1" name="password1" class="py-3 px-4 block w-full border border-gray-300 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none null:bg-slate-900 null:border-gray-700 null:text-gray-400 null:focus:ring-gray-600" required aria-describedby="email-error">
                  <div class="hidden absolute inset-y-0 end-0 pointer-events-none pe-3">
                    <svg class="size-5 text-red-500" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                    </svg>
                  </div>
                </div>
              </div>

              <div>
                <label for="email" class="block text-sm mb-2 null:text-white">Confirm Password</label>
                <div class="relative">
                  <input minlength="8" maxlength="32" type="password" id="password2" name="password2" class="py-3 px-4 block w-full border border-gray-300 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none null:bg-slate-900 null:border-gray-700 null:text-gray-400 null:focus:ring-gray-600" required aria-describedby="email-error">
                  <div class="hidden absolute inset-y-0 end-0 pointer-events-none pe-3">
                    <svg class="size-5 text-red-500" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                    </svg>
                  </div>
                </div>
              </div>
              <!-- End Form Group -->

              <button type="submit" class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-black text-white hover:bg-grey-900 disabled:opacity-50 disabled:pointer-events-none null:focus:outline-none null:focus:ring-1 null:focus:ring-gray-600">Reset password</button>
            </div>
          </form>
          <!-- End Form -->
        </div>
      </div>
    </div>
  </main>

  <script>
    function validateForm() {
        var password1 = document.getElementById('password1').value;
        var password2 = document.getElementById('password2').value;

        if (password1 !== password2) {
            // Passwords do not match
            document.getElementById('match-alert').style.display = 'flex';
            return false; // Prevent form submission
        } else {
            // Passwords match, proceed with form submission
            return true;
        }
    }
</script>

  </script> -->

