<footer class="bg-black text-white">
  <div class="mx-auto w-full max-w-screen-xl p-6 mt-24 py-6 lg:py-8">
    <div class="md:flex md:justify-between mt-6">
      <div class="mb-6 md:mb-0">
        <a href="https://flowbite.com/" class="flex items-center">
          <img src="https://pbs.twimg.com/profile_images/1650559623961927681/GIuz2m6K_400x400.jpg"
            class="h-10 me-3 rounded-full" alt="Logo" />
          <span class="self-center text-2xl font-semibold whitespace-nowrap :text-white">DesiRacingCo</span>
        </a>
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
        <div>
          <h2 class="mb-6 text-sm font-semibold text-white uppercase :text-white">CATEGORIES</h2>
          <ul class="text-white :text-gray-400 font-medium">
            <li class="mb-4">
              <a href="/category?name=f1" class="hover:underline">F1™</a>
            </li>
            <li class="mb-4">
              <a href="/category?name=motogp" class="hover:underline">MotoGP™</a>
            </li>
            <li>
              <a href="/category?name=imsp" class=" mt-4 hover:underline">Indian Motorsport</a>
            </li>

          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-sm font-semibold text-white uppercase :text-white">Follow us</h2>
          <ul class="text-white font-medium">
            <li class="mb-4">
              <a href="https://www.instagram.com/DesiRacingCo/" class="hover:underline ">Instagram</a>
            </li>
            <li>
              <a href="https://twitter.com/DesiRacingco" class="hover:underline">X</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-sm font-semibold text-white uppercase :text-white">Legal</h2>
          <ul class="text-white :text-gray-400 font-medium">
            <li class="mb-4">
              <a href="#" class="hover:underline">Privacy Policy</a>
            </li>
            <li>
              <a href="#" class="hover:underline">Terms &amp; Conditions</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto :border-gray-700 lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-white sm:text-center :text-gray-400">© <span id="year"></span> <a
          href="/" class="hover:underline">DesiRacingCo™</a>. All Rights Reserved.
      </span>
      <br>
      <span class="text-sm text-white">Developed and Maintained by <a href="https://github.com/Ashish4793" class="hover:underline">Ashish</a> & <a href="https://github.com/NielRanawat/" class="hover:underline">Niel</a>
  </span>
      <div class="flex mt-4 sm:justify-center sm:mt-0">
        <a href="https://www.facebook.com/people/Desi-Racing-Co/100091790088500/" class="text-white hover:text-[#316FF6] :hover:text-white">
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
            viewBox="0 0 8 19">
            <path fill-rule="evenodd"
              d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z"
              clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Facebook page</span>
        </a>

        <a href="https://www.youtube.com/@DesiRacingCo" class="text-white hover:text-[#FF0000] ms-5">
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M21.7 8c0-.7-.4-1.3-.8-2-.5-.5-1.2-.8-2-.8C16.2 5 12 5 12 5s-4.2 0-7 .2c-.7 0-1.4.3-2 .9-.3.6-.6 1.2-.7 2l-.2 3.1v1.5c0 1.1 0 2.2.2 3.3 0 .7.4 1.3.8 2 .6.5 1.4.8 2.2.8l6.7.2s4.2 0 7-.2c.7 0 1.4-.3 2-.9.3-.5.6-1.2.7-2l.2-3.1v-1.6c0-1 0-2.1-.2-3.2ZM10 14.6V9l5.4 2.8-5.4 2.8Z" clip-rule="evenodd"/>
          </svg>
        
          <span class="sr-only">Youtube page</span>
        </a>
        <a href="mailto:desiracingco@gmail.com" class="text-white hover:text-white-100 :hover:text-white ms-5">
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m3.5 5.5 7.9 6c.4.3.8.3 1.2 0l7.9-6M4 19h16c.6 0 1-.4 1-1V6c0-.6-.4-1-1-1H4a1 1 0 0 0-1 1v12c0 .6.4 1 1 1Z"/>
          </svg>
          <span class="sr-only">Email</span>
        </a>

      </div>
    </div>
  </div>
</footer>



<script src="https://kit.fontawesome.com/3ea55f06b5.js" crossorigin="anonymous"></script>
<script>
  const year = new Date().getFullYear();
  document.getElementById("year").innerHTML = year
</script>

</body>

</html>