<nav class="navbar navbar-expand-lg navbar-light bg-light px-0 py-3">
    <div class="container-xl">
      <!-- Logo -->
      <a class="navbar-brand" href="#">
        <img src="https://preview.webpixels.io/web/img/logos/clever-primary.svg" class="h-8" alt="...">
      </a>
      <!-- Navbar toggle -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <!-- Nav -->
        <div class="navbar-nav mx-lg-auto">
          <a class="nav-item nav-link active" href="#" aria-current="page">Home</a>
          <a class="nav-item nav-link" href="#">Formula 1</a>
          <a class="nav-item nav-link" href="#">MotoGP</a>
          <a class="nav-item nav-link" href="#">WEC</a>
        </div>
        <!-- Right navigation -->
        
        <div class="navbar-nav ms-lg-4">
          <div class="dropdown">
            <a
              class=" d-flex align-items-center hidden-arrow"
              href="#"
              id="navbarDropdownMenuAvatar"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
            <img class="rounded-circle" width="35" height="35" src="https://img.icons8.com/3d-fluency/94/user-male-circle.png" alt="user-male-circle"/>
              
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuAvatar"
            >
              <li>
                <a class="dropdown-item" href="#">My profile</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Settings</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Logout</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Action -->
        <!-- s -->
      </div>
    </div>
  </nav>