<nav class="navbar navbar-expand-lg navbar-light bg-light px-0 py-3">
    <div class="container-xl">
      <!-- Logo -->
      <a class="navbar-brand" href="/">
        <img src="https://preview.webpixels.io/web/img/logos/clever-primary.svg" class="h-8" alt="...">
      </a>
      <!-- Navbar toggle -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <!-- Nav -->
        <div class="navbar-nav mx-lg-auto">
          <a class="nav-item nav-link active" href="/" aria-current="page">Home</a>
          <!-- <a class="nav-item nav-link" href="/formula1">Formula 1</a>
          <a class="nav-item nav-link" href="/motogp">MotoGP</a>
          <a class="nav-item nav-link" href="/wec">WEC</a> -->
        </div>
        <!-- Right navigation -->
        
        <div class="navbar-nav ms-lg-4">
          <div class="dropdown">
            <a style="color: black; text-decoration: none;"
              class=" d-flex align-items-center hidden-arrow"
              href="#"
              id="navbarDropdownMenuAvatar"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
            <% if (loggedIn){ %>
              <% const firstName = (user.name).split(" "); %>
              <span style="margin-right: 3px; margin-top: 4px;">Hi <%= firstName[0] %>!</span>
            <% } %>
            <img class="rounded-circle" width="35" height="35" src="https://img.icons8.com/3d-fluency/94/user-male-circle.png" alt="user-male-circle"/>

            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuAvatar"
            >
            <% if(loggedIn){ %>              
              <% if (user.isAdmin){ %>
                <a class="dropdown-item" href="/admin">Admin</a>
              <% } %>
                <a class="dropdown-item" href="/logout">Logout</a>
              </li>
            <% }else{ %>
              <li>
                <a class="dropdown-item" href="/login">Login/Sign-up</a>
              </li>
            <% } %>
            </ul>
          </div>
        </div>
        <!-- Action -->
        <!-- s -->
      </div>
    </div>
  </nav>